<!-- <div class="container mt-4">
    <div class="row mb-3 align-items-center">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="onSearch()">
          Search
          <span *ngIf="isBusy"
           class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary mx-2" (click)="filterArrayWithWorker()">
          Search (With Web Worker)
          <span *ngIf="webWorkerSeacrh"
           class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    </div>
  
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter and sort</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
      </div>
    </div>
    
    <button  class="btn btn-info" (click)="alert('Button Clicked')">Another Action</button>
    <div class="text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Patient Name</th>
          <th scope="col">Provider</th>
          <th scope="col">Ongoing Treatment</th>
          <th scope="col">Medical History</th>
          <th scope="col">Insurance Expiry date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
          <td>{{ item?.personal_details.first_name}}</td>
          <td>{{ item.insurance_details?.provider}}</td>
          <td>
            <ng-container *ngFor="let ongoing_treatment_item of item.ongoing_treatment; let last = last">
              {{ongoing_treatment_item.treatment_name }}<ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let medical_history_item of item.medical_history; let last = last">
              {{medical_history_item.condition }}<ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </td>
          <td>{{ item?.insurance_details.expiry_date}}</td>
        </tr>
        <tr *ngIf="noRecordsFound">
          <td colspan="5" class="text-center">No records found</td>
        </tr>
      </tbody>
    </table>
  </div> -->
<!-- ====== Table Section Start -->
<section class="bg-white-color py-20 h-full dark:bg-dark">
  <div class="px-4 mx-auto container">
    <!-- search bar -->
    <div
      class="mb-8 items-center justify-between shadow-3 rounded-lg bg-white-color dark:bg-dark-2 py-4 px-5 md:flex"
    >
      <div
        class="mb-4 w-full md:mb-0 flex items-center justify-self-auto gap-2"
      >
        <div class="relative w-[500px]">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search here..."
            class="h-[50px] w-full rounded-lg border border-stroke dark:border-dark-3 dark:text-dark-6 bg-white-color dark:bg-dark pr-6 pl-14 text-base text-body-color outline-none focus:border-primary-color"
          />
          <span class="absolute -translate-y-1/2 left-6 top-1/2">
            <svg
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.25 3C5.3505 3 3 5.3505 3 8.25C3 11.1495 5.3505 13.5 8.25 13.5C11.1495 13.5 13.5 11.1495 13.5 8.25C13.5 5.3505 11.1495 3 8.25 3ZM1.5 8.25C1.5 4.52208 4.52208 1.5 8.25 1.5C11.9779 1.5 15 4.52208 15 8.25C15 11.9779 11.9779 15 8.25 15C4.52208 15 1.5 11.9779 1.5 8.25Z"
                fill="#637381"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.957 11.958C12.2499 11.6651 12.7247 11.6651 13.0176 11.958L16.2801 15.2205C16.573 15.5133 16.573 15.9882 16.2801 16.2811C15.9872 16.574 15.5124 16.574 15.2195 16.2811L11.957 13.0186C11.6641 12.7257 11.6641 12.2508 11.957 11.958Z"
                fill="#637381"
              />
            </svg>
          </span>
        </div>
        <button
          (click)="onSearch()"
          class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
        >
          <span class="mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[18px]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          Search
        </button>
        <button
          (click)="filterArrayWithWorker()"
          class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
        >
          <span class="mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[18px]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          Search (With Web Worker)
        </button>
        <button
          (click)="alert('Button Clicked')"
          class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
        >
          <span class="mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[18px]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          Another Action
        </button>
      </div>
      <button
        class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
      >
        <span class="mr-2">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.36874 17.4937C7.19999 17.4937 7.03124 17.4374 6.86249 17.353C6.58124 17.1843 6.44062 16.903 6.44062 16.5937V7.6499L1.51874 1.94053C1.32187 1.65928 1.26562 1.29365 1.40624 0.984277C1.54687 0.674902 1.88437 0.478027 2.24999 0.478027H15.75C16.1156 0.478027 16.4531 0.703027 16.5937 1.04053C16.7344 1.37803 16.6781 1.71553 16.425 1.99678L11.5875 7.62178V14.1749C11.5875 14.3437 11.5312 14.5968 11.2781 14.8499L11.2219 14.9062L7.84687 17.4093C7.70624 17.4655 7.53749 17.4937 7.36874 17.4937ZM7.50937 6.91865C7.64999 7.0874 7.73437 7.34053 7.73437 7.50928V15.9187L10.35 13.978V7.50928C10.35 7.36865 10.35 7.11553 10.575 6.89053L14.9625 1.77178H3.03749L7.50937 6.91865ZM6.52499 7.73428L6.55312 7.7624L6.52499 7.73428Z"
              fill="currentColor"
            />
          </svg>
        </span>
        Filter
      </button>
    </div>

    <div class="my-8 flex justify-between">
      <div class="w-[90%] text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
      <div>
        <label
          for="toggleThree"
          class="flex items-center cursor-pointer select-none text-dark dark:text-white"
        >
          <div class="relative">
            <input
              type="checkbox"
              [(ngModel)]="isListView"
              id="toggleThree"
              class="peer sr-only"
            />
            <div
              class="block h-8 rounded-full bg-gray-3 dark:bg-dark-2 w-14"
            ></div>
            <div
              class="absolute flex items-center justify-center w-6 h-6 transition bg-primary-color rounded-full dot dark:bg-dark-5 left-1 top-1 peer-checked:translate-x-full"
            >
              <span class="text-body-color dark:text-light">
                <ng-container *ngIf="!isListView">
                  <svg
                    class="size-[16px]"
                    viewBox="-0.5 0 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.5 10.32C8.433 10.32 10 8.753 10 6.82001C10 4.88701 8.433 3.32001 6.5 3.32001C4.567 3.32001 3 4.88701 3 6.82001C3 8.753 4.567 10.32 6.5 10.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M17.5 10.32C19.433 10.32 21 8.753 21 6.82001C21 4.88701 19.433 3.32001 17.5 3.32001C15.567 3.32001 14 4.88701 14 6.82001C14 8.753 15.567 10.32 17.5 10.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M6.5 21.32C8.433 21.32 10 19.753 10 17.82C10 15.887 8.433 14.32 6.5 14.32C4.567 14.32 3 15.887 3 17.82C3 19.753 4.567 21.32 6.5 21.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M17.5 21.32C19.433 21.32 21 19.753 21 17.82C21 15.887 19.433 14.32 17.5 14.32C15.567 14.32 14 15.887 14 17.82C14 19.753 15.567 21.32 17.5 21.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </ng-container>
                <ng-container *ngIf="isListView">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-[16px]"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                    />
                  </svg>
                </ng-container>
              </span>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div
      *ngIf="isListView"
      class="bg-white-color border-2 rounded-lg dark:bg-dark-2 dark:border-dark-3 border-stroke"
    >
      <div class="max-w-full overflow-x-auto">
        <table class="w-full rounded-lg table-auto">
          <thead>
            <tr class="border-b-2 border-stroke dark:border-dark-3">
              <th class="min-w-[200px] py-5 pr-4 pl-9">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Patient Name
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Provider
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Ongoing Treatment
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Medical History
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Insurance Expiry date
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of filteredData
                  | paginate : { itemsPerPage: pageSize, currentPage: page };
                let i = index
              "
              class="border-b-2 border-stroke dark:border-dark-3"
            >
              <td class="py-6 pr-4 pl-9">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  {{ item?.personal_details.first_name }}
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  {{ item.insurance_details?.provider }}
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  <ng-container
                    *ngFor="
                      let ongoing_treatment_item of item.ongoing_treatment;
                      let last = last
                    "
                  >
                    {{ ongoing_treatment_item.treatment_name
                    }}<ng-container *ngIf="!last">, </ng-container>
                  </ng-container>
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  <ng-container
                    *ngFor="
                      let medical_history_item of item.medical_history;
                      let last = last
                    "
                  >
                    {{ medical_history_item.condition
                    }}<ng-container *ngIf="!last">, </ng-container>
                  </ng-container>
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  {{ item?.insurance_details.expiry_date }}
                </h5>
              </td>
            </tr>
            <tr *ngIf="noRecordsFound">
              <td colspan="5" class="text-center py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  No records found
                </h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!isListView" class="bg-white-color rounded-lg dark:bg-dark-2">
      <div class="max-w-full overflow-x-auto">
        <!-- ====== Cards Section Start -->
        <section class="bg-white-color dark:bg-dark">
          <div class="container mx-auto">
            <div class="grid grid-cols-12 gap-4">
              <div
                *ngFor="
                  let item of filteredData
                    | paginate : { itemsPerPage: pageSize, currentPage: page };
                  let i = index
                "
                class="relative col-span-6 flex items-center w-full p-5 mb-10 bg-white-color border-2 border-gray-3 dark:bg-dark-2 dark:border-dark-3"
              >
                <span
                  class="bg-primary-color absolute -top-px -left-px h-[3px] w-[calc(100%+1.5px)]"
                ></span>
                <div class="w-full mr-4">
                  <h6
                    class="block mb-3 text-lg font-semibold text-primary-color"
                  >
                    {{ item?.personal_details.first_name }}
                    {{ item?.personal_details.last_name }}
                  </h6>
                  <span
                    class="block mb-3 text-sm font-semibold text-secondary-color"
                  >
                    Provider: {{ item.insurance_details?.provider }}
                  </span>
                  <h3>
                    <a
                      href="javascript:void(0)"
                      class="block mb-4 text-sm font-semibold text-dark hover:text-primary-color dark:text-white"
                    >
                      Ongoing Treatment:
                      <ng-container
                        *ngFor="
                          let ongoing_treatment_item of item.ongoing_treatment;
                          let last = last
                        "
                      >
                        {{ ongoing_treatment_item.treatment_name
                        }}<ng-container *ngIf="!last">, </ng-container>
                      </ng-container>
                    </a>
                  </h3>
                  <h3>
                    <a
                      href="javascript:void(0)"
                      class="block mb-4 text-sm font-semibold text-dark hover:text-primary-color dark:text-white"
                    >
                      Medical History:
                      <ng-container
                        *ngFor="
                          let medical_history_item of item.medical_history;
                          let last = last
                        "
                      >
                        {{ medical_history_item.condition
                        }}<ng-container *ngIf="!last">, </ng-container>
                      </ng-container>
                    </a>
                  </h3>
                  <p class="text-xs text-body-color dark:text-dark-6">
                    Insurance Expiry date:
                    {{ item?.insurance_details.expiry_date }}
                  </p>
                </div>
                <div class="mx-auto w-full max-w-[120px] sm:max-w-[140px]">
                  <div>
                    <div
                      class="h-[150px] hover:bg-primary-color hover:text-white-color border uppercase border-primary-color text-4xl w-[150px] text-primary-color bg-white-color dark:bg-dark-2 flex items-center justify-center bg-skin-secondary text-center rounded-full py-[10px]"
                    >
                      {{ item?.personal_details.first_name[0]
                      }}{{ item?.personal_details.last_name[0] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ====== Cards Section End -->
      </div>
    </div>
  </div>
</section>
<!-- ====== Table Section End -->
