<!-- <div class="container mt-4">
    <div class="row mb-3 align-items-center">
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm">
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" (click)="onSearch()">
          Search
          <span *ngIf="isBusy"
           class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary mx-2" (click)="filterArrayWithWorker()">
          Search (With Web Worker)
          <span *ngIf="isWebWorkerSearch"
           class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <i class="fa-solid fa-filter"></i>
        </button>
      </div>
    </div>
  
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Filter and sort</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div>
          Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div>
      </div>
    </div>
    
    <button  class="btn btn-info" (click)="alert('Button Clicked')">Another Action</button>
    <div class="text-center">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Patient Name</th>
          <th scope="col">Provider</th>
          <th scope="col">Ongoing Treatment</th>
          <th scope="col">Medical History</th>
          <th scope="col">Insurance Expiry date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredData | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
          <td>{{ item?.personal_details.first_name}}</td>
          <td>{{ item.insurance_details?.provider}}</td>
          <td>
            <ng-container *ngFor="let ongoing_treatment_item of item.ongoing_treatment; let last = last">
              {{ongoing_treatment_item.treatment_name }}<ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </td>
          <td>
            <ng-container *ngFor="let medical_history_item of item.medical_history; let last = last">
              {{medical_history_item.condition }}<ng-container *ngIf="!last">, </ng-container>
            </ng-container>
          </td>
          <td>{{ item?.insurance_details.expiry_date}}</td>
        </tr>
        <tr *ngIf="noRecordsFound">
          <td colspan="5" class="text-center">No records found</td>
        </tr>
      </tbody>
    </table>
  </div> -->
<!-- ====== Table Section Start -->
<section class="bg-white-color py-20 h-full dark:bg-dark">
  <div class="px-10 mx-auto">
    <!-- search bar -->
    <div
      class="mb-8 items-center justify-between dark:border-none border-2 border-x-primary-color rounded-lg bg-white-color dark:bg-dark-2 py-4 px-5 md:flex"
    >
      <div
        class="mb-4 w-full md:mb-0 flex items-center justify-self-auto gap-2"
      >
        <div class="relative w-[400px]">
          <input
            type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search here..."
            class="h-[50px] w-full rounded-lg border border-stroke dark:border-dark-3 dark:text-dark-6 bg-white-color dark:bg-dark pr-6 pl-14 text-base text-body-color outline-none focus:border-primary-color"
          />
          <span class="absolute -translate-y-1/2 left-6 top-1/2">
            <svg
              *ngIf="!isWebWorkerSearch"
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M8.25 3C5.3505 3 3 5.3505 3 8.25C3 11.1495 5.3505 13.5 8.25 13.5C11.1495 13.5 13.5 11.1495 13.5 8.25C13.5 5.3505 11.1495 3 8.25 3ZM1.5 8.25C1.5 4.52208 4.52208 1.5 8.25 1.5C11.9779 1.5 15 4.52208 15 8.25C15 11.9779 11.9779 15 8.25 15C4.52208 15 1.5 11.9779 1.5 8.25Z"
                fill="#637381"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.957 11.958C12.2499 11.6651 12.7247 11.6651 13.0176 11.958L16.2801 15.2205C16.573 15.5133 16.573 15.9882 16.2801 16.2811C15.9872 16.574 15.5124 16.574 15.2195 16.2811L11.957 13.0186C11.6641 12.7257 11.6641 12.2508 11.957 11.958Z"
                fill="#637381"
              />
            </svg>
            <div *ngIf="isWebWorkerSearch" class="text-primary-color">
              <svg
                class="animate-spin"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2592_7101)">
                  <path
                    opacity="0.33"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.6066 0.345176L12.1759 1.95287C11.9417 1.88993 11.7052 1.83929 11.4632 1.79612C11.2212 1.75296 10.9818 1.71873 10.7403 1.6968L10.892 0.0393588C11.1794 0.065229 11.4687 0.104137 11.7559 0.15535C12.043 0.206563 12.3279 0.270083 12.6066 0.345176Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.38"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0182 1.34671L14.1811 2.78881C13.7674 2.54571 13.3299 2.34072 12.8687 2.17381L13.44 0.60813C13.9926 0.808271 14.5193 1.05881 15.0182 1.34671Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.42"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.0867 2.94304L15.904 4.1161C15.5633 3.77177 15.1915 3.45996 14.7933 3.17731L15.7554 1.81679C16.2325 2.15582 16.6776 2.53148 17.0867 2.94304Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.5"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18.6682 5.01543L17.225 5.84575C16.9824 5.4258 16.7068 5.02535 16.3966 4.65259L17.6747 3.58543C18.0477 4.03288 18.3814 4.51141 18.6682 5.01543Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.55"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.6684 7.42856L18.0557 7.85621C17.9323 7.38556 17.7642 6.92809 17.5622 6.49423L19.0718 5.79002C19.3166 6.31617 19.5152 6.86372 19.6684 7.42856Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.6"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.002 10.019L18.3354 10.0138C18.3382 9.52335 18.293 9.04126 18.2128 8.56561L19.8546 8.28284C19.953 8.84638 20.0053 9.43131 20.002 10.019Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.65"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.8447 11.7559C19.7934 12.043 19.7299 12.328 19.6548 12.6066L18.0438 12.1711C18.106 11.941 18.1607 11.7053 18.2039 11.4633C18.247 11.2212 18.2779 10.977 18.2991 10.7396L19.9606 10.892C19.9355 11.1753 19.8966 11.4647 19.8447 11.7559Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.7"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.3926 13.436C19.1917 13.9927 18.9412 14.5194 18.6533 15.0182L17.2112 14.1812C17.4502 13.7667 17.66 13.3259 17.8269 12.8647L19.3926 13.436Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.75"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18.184 15.7514C17.8442 16.2325 17.4685 16.6776 17.0577 17.0826L15.8839 15.904C16.2241 15.5626 16.54 15.1915 16.8186 14.7926L18.184 15.7514Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.8"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.4112 17.6699C15.9678 18.0437 15.4893 18.3774 14.9846 18.6682L14.1543 17.225C14.5742 16.9825 14.9713 16.702 15.344 16.3918L16.4112 17.6699Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.95"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.21 19.0718C13.6838 19.3166 13.1363 19.5152 12.5721 19.6643L12.1397 18.055C12.6111 17.9275 13.0678 17.7635 13.5065 17.5581L14.21 19.0718Z"
                    fill="currentColor"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.7179 19.8505C11.1495 19.9523 10.5694 20.0012 9.98093 20.0021L9.98616 18.3354C10.4773 18.3341 10.9587 18.293 11.4303 18.2121L11.7179 19.8505Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.05"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.10799 19.9606C8.82057 19.9347 8.53124 19.8958 8.24411 19.8446C7.95697 19.7934 7.67203 19.7299 7.39339 19.6548L7.82477 18.043C8.05902 18.1059 8.29474 18.1607 8.53675 18.2039C8.77877 18.247 9.01887 18.2771 9.26044 18.2991L9.10799 19.9606Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.07"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.1312 17.8262L6.55991 19.3919C6.00803 19.1876 5.48061 18.9412 4.98248 18.6492L5.8188 17.2112C6.23328 17.4502 6.67074 17.6552 7.1312 17.8262Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.09"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.20739 16.8186L4.24522 18.1791C3.76744 17.8442 3.32232 17.4685 2.91323 17.057L4.09664 15.8798C4.43731 16.2241 4.80917 16.5359 5.20739 16.8186Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.11"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.60406 15.3433L2.32599 16.4105C1.95293 15.963 1.61927 15.4845 1.33248 14.9805L2.7757 14.1501C3.01823 14.5701 3.29386 14.9705 3.60406 15.3433Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.13"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.43772 13.5058L0.928848 14.2059C0.683367 13.6838 0.484757 13.1363 0.332289 12.5673L1.94493 12.1397C2.06838 12.6103 2.2365 13.0678 2.43772 13.5058Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.15"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.78797 11.4303L0.145415 11.7171C0.0477348 11.1495 -0.00526797 10.5687 -0.0012875 9.97685L1.66536 9.98208C1.66253 10.4725 1.70701 10.9587 1.78797 11.4303Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.17"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.79609 8.53676C1.75293 8.77878 1.7228 9.01888 1.70161 9.25635L0.0393276 9.108C0.0651979 8.82058 0.104105 8.53125 0.155319 8.24411C0.206532 7.95698 0.270783 7.66794 0.345145 7.39339L1.95694 7.82478C1.89473 8.05493 1.83926 8.29475 1.79609 8.53676Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.19"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.78952 5.81474C2.5498 6.23332 2.3407 6.67005 2.17379 7.13124L0.608112 6.55995C0.808254 6.00734 1.05953 5.47655 1.3467 4.98179L2.78952 5.81474Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.21"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.11613 4.09597C3.77663 4.43326 3.46072 4.80439 3.18218 5.20335L1.81682 4.24454C2.15585 3.7675 2.53151 3.32237 2.94307 2.91328L4.11613 4.09597Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.25"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.84654 2.77086C5.4266 3.01339 5.02952 3.29386 4.65676 3.60406L3.58959 2.32599C4.03295 1.9522 4.51147 1.61853 5.01622 1.32764L5.84654 2.77086Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.28"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.86098 1.94089C7.3896 2.06844 6.93287 2.23246 6.49417 2.43778L5.78996 0.928178C6.31611 0.683428 6.86366 0.484819 7.4285 0.331619L7.86098 1.94089Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.3"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.0138 1.66458C9.52332 1.66175 9.04195 1.70287 8.56968 1.78793L8.2828 0.145371C8.85044 0.0476906 9.43127 -0.00531221 10.019 -0.00206337L10.0138 1.66458Z"
                    fill="currentColor"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2592_7101">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </span>
        </div>
        <button
          (click)="onSearch()"
          class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
        >
          <span class="mr-2">
            <svg *ngIf="!isBusy"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[18px]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
            <div *ngIf="isBusy" class="text-primary-color">
              <svg
                class="animate-spin"
                width="20"
                height="20"
                viewBox="0 0 20 20"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <g clip-path="url(#clip0_2592_7101)">
                  <path
                    opacity="0.33"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M12.6066 0.345176L12.1759 1.95287C11.9417 1.88993 11.7052 1.83929 11.4632 1.79612C11.2212 1.75296 10.9818 1.71873 10.7403 1.6968L10.892 0.0393588C11.1794 0.065229 11.4687 0.104137 11.7559 0.15535C12.043 0.206563 12.3279 0.270083 12.6066 0.345176Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.38"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M15.0182 1.34671L14.1811 2.78881C13.7674 2.54571 13.3299 2.34072 12.8687 2.17381L13.44 0.60813C13.9926 0.808271 14.5193 1.05881 15.0182 1.34671Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.42"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.0867 2.94304L15.904 4.1161C15.5633 3.77177 15.1915 3.45996 14.7933 3.17731L15.7554 1.81679C16.2325 2.15582 16.6776 2.53148 17.0867 2.94304Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.5"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18.6682 5.01543L17.225 5.84575C16.9824 5.4258 16.7068 5.02535 16.3966 4.65259L17.6747 3.58543C18.0477 4.03288 18.3814 4.51141 18.6682 5.01543Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.55"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.6684 7.42856L18.0557 7.85621C17.9323 7.38556 17.7642 6.92809 17.5622 6.49423L19.0718 5.79002C19.3166 6.31617 19.5152 6.86372 19.6684 7.42856Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.6"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M20.002 10.019L18.3354 10.0138C18.3382 9.52335 18.293 9.04126 18.2128 8.56561L19.8546 8.28284C19.953 8.84638 20.0053 9.43131 20.002 10.019Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.65"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.8447 11.7559C19.7934 12.043 19.7299 12.328 19.6548 12.6066L18.0438 12.1711C18.106 11.941 18.1607 11.7053 18.2039 11.4633C18.247 11.2212 18.2779 10.977 18.2991 10.7396L19.9606 10.892C19.9355 11.1753 19.8966 11.4647 19.8447 11.7559Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.7"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M19.3926 13.436C19.1917 13.9927 18.9412 14.5194 18.6533 15.0182L17.2112 14.1812C17.4502 13.7667 17.66 13.3259 17.8269 12.8647L19.3926 13.436Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.75"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M18.184 15.7514C17.8442 16.2325 17.4685 16.6776 17.0577 17.0826L15.8839 15.904C16.2241 15.5626 16.54 15.1915 16.8186 14.7926L18.184 15.7514Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.8"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M16.4112 17.6699C15.9678 18.0437 15.4893 18.3774 14.9846 18.6682L14.1543 17.225C14.5742 16.9825 14.9713 16.702 15.344 16.3918L16.4112 17.6699Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.95"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M14.21 19.0718C13.6838 19.3166 13.1363 19.5152 12.5721 19.6643L12.1397 18.055C12.6111 17.9275 13.0678 17.7635 13.5065 17.5581L14.21 19.0718Z"
                    fill="currentColor"
                  />
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M11.7179 19.8505C11.1495 19.9523 10.5694 20.0012 9.98093 20.0021L9.98616 18.3354C10.4773 18.3341 10.9587 18.293 11.4303 18.2121L11.7179 19.8505Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.05"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M9.10799 19.9606C8.82057 19.9347 8.53124 19.8958 8.24411 19.8446C7.95697 19.7934 7.67203 19.7299 7.39339 19.6548L7.82477 18.043C8.05902 18.1059 8.29474 18.1607 8.53675 18.2039C8.77877 18.247 9.01887 18.2771 9.26044 18.2991L9.10799 19.9606Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.07"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.1312 17.8262L6.55991 19.3919C6.00803 19.1876 5.48061 18.9412 4.98248 18.6492L5.8188 17.2112C6.23328 17.4502 6.67074 17.6552 7.1312 17.8262Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.09"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.20739 16.8186L4.24522 18.1791C3.76744 17.8442 3.32232 17.4685 2.91323 17.057L4.09664 15.8798C4.43731 16.2241 4.80917 16.5359 5.20739 16.8186Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.11"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M3.60406 15.3433L2.32599 16.4105C1.95293 15.963 1.61927 15.4845 1.33248 14.9805L2.7757 14.1501C3.01823 14.5701 3.29386 14.9705 3.60406 15.3433Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.13"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.43772 13.5058L0.928848 14.2059C0.683367 13.6838 0.484757 13.1363 0.332289 12.5673L1.94493 12.1397C2.06838 12.6103 2.2365 13.0678 2.43772 13.5058Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.15"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.78797 11.4303L0.145415 11.7171C0.0477348 11.1495 -0.00526797 10.5687 -0.0012875 9.97685L1.66536 9.98208C1.66253 10.4725 1.70701 10.9587 1.78797 11.4303Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.17"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M1.79609 8.53676C1.75293 8.77878 1.7228 9.01888 1.70161 9.25635L0.0393276 9.108C0.0651979 8.82058 0.104105 8.53125 0.155319 8.24411C0.206532 7.95698 0.270783 7.66794 0.345145 7.39339L1.95694 7.82478C1.89473 8.05493 1.83926 8.29475 1.79609 8.53676Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.19"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M2.78952 5.81474C2.5498 6.23332 2.3407 6.67005 2.17379 7.13124L0.608112 6.55995C0.808254 6.00734 1.05953 5.47655 1.3467 4.98179L2.78952 5.81474Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.21"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M4.11613 4.09597C3.77663 4.43326 3.46072 4.80439 3.18218 5.20335L1.81682 4.24454C2.15585 3.7675 2.53151 3.32237 2.94307 2.91328L4.11613 4.09597Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.25"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M5.84654 2.77086C5.4266 3.01339 5.02952 3.29386 4.65676 3.60406L3.58959 2.32599C4.03295 1.9522 4.51147 1.61853 5.01622 1.32764L5.84654 2.77086Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.28"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M7.86098 1.94089C7.3896 2.06844 6.93287 2.23246 6.49417 2.43778L5.78996 0.928178C6.31611 0.683428 6.86366 0.484819 7.4285 0.331619L7.86098 1.94089Z"
                    fill="currentColor"
                  />
                  <path
                    opacity="0.3"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M10.0138 1.66458C9.52332 1.66175 9.04195 1.70287 8.56968 1.78793L8.2828 0.145371C8.85044 0.0476906 9.43127 -0.00531221 10.019 -0.00206337L10.0138 1.66458Z"
                    fill="currentColor"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_2592_7101">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </div>
          </span>
          Search
        </button>
        <button
          (click)="filterArrayWithWorker()"
          class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
        >
          <span class="mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[18px]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          Search (With Web Worker)
        </button>
        <button
          (click)="alert('Button Clicked')"
          class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
        >
          <span class="mr-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-[18px]"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
              />
            </svg>
          </span>
          Another Action
        </button>
      </div>
      <button
        class="flex h-[50px] items-center justify-center hover:border-primary-color rounded-md border border-stroke dark:border-dark-3 dark:bg-dark text-body-color dark:text-dark-6 hover:text-primary-color bg-white-color px-5"
      >
        <span class="mr-2">
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.36874 17.4937C7.19999 17.4937 7.03124 17.4374 6.86249 17.353C6.58124 17.1843 6.44062 16.903 6.44062 16.5937V7.6499L1.51874 1.94053C1.32187 1.65928 1.26562 1.29365 1.40624 0.984277C1.54687 0.674902 1.88437 0.478027 2.24999 0.478027H15.75C16.1156 0.478027 16.4531 0.703027 16.5937 1.04053C16.7344 1.37803 16.6781 1.71553 16.425 1.99678L11.5875 7.62178V14.1749C11.5875 14.3437 11.5312 14.5968 11.2781 14.8499L11.2219 14.9062L7.84687 17.4093C7.70624 17.4655 7.53749 17.4937 7.36874 17.4937ZM7.50937 6.91865C7.64999 7.0874 7.73437 7.34053 7.73437 7.50928V15.9187L10.35 13.978V7.50928C10.35 7.36865 10.35 7.11553 10.575 6.89053L14.9625 1.77178H3.03749L7.50937 6.91865ZM6.52499 7.73428L6.55312 7.7624L6.52499 7.73428Z"
              fill="currentColor"
            />
          </svg>
        </span>
        Filter
      </button>
    </div>

    <div class="my-8 flex justify-between">
      <div class="w-[90%] text-center">
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
      </div>
      <div>
        <label
          for="toggleThree"
          class="flex items-center cursor-pointer select-none text-dark dark:text-white"
        >
          <div class="relative">
            <input
              type="checkbox"
              [(ngModel)]="isListView"
              id="toggleThree"
              class="peer sr-only"
            />
            <div
              class="block h-8 rounded-full bg-gray-3 dark:bg-dark-2 w-14"
            ></div>
            <div
              class="absolute flex items-center justify-center w-6 h-6 transition bg-primary-color rounded-full dot dark:bg-dark-5 left-1 top-1 peer-checked:translate-x-full"
            >
              <span class="text-body-color dark:text-light">
                <ng-container *ngIf="!isListView">
                  <svg
                    class="size-[16px]"
                    viewBox="-0.5 0 25 25"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M6.5 10.32C8.433 10.32 10 8.753 10 6.82001C10 4.88701 8.433 3.32001 6.5 3.32001C4.567 3.32001 3 4.88701 3 6.82001C3 8.753 4.567 10.32 6.5 10.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M17.5 10.32C19.433 10.32 21 8.753 21 6.82001C21 4.88701 19.433 3.32001 17.5 3.32001C15.567 3.32001 14 4.88701 14 6.82001C14 8.753 15.567 10.32 17.5 10.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M6.5 21.32C8.433 21.32 10 19.753 10 17.82C10 15.887 8.433 14.32 6.5 14.32C4.567 14.32 3 15.887 3 17.82C3 19.753 4.567 21.32 6.5 21.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                    <path
                      d="M17.5 21.32C19.433 21.32 21 19.753 21 17.82C21 15.887 19.433 14.32 17.5 14.32C15.567 14.32 14 15.887 14 17.82C14 19.753 15.567 21.32 17.5 21.32Z"
                      stroke="currentColor"
                      stroke-width="1.5"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </ng-container>
                <ng-container *ngIf="isListView">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-[16px]"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M8.25 6.75h12M8.25 12h12m-12 5.25h12M3.75 6.75h.007v.008H3.75V6.75Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0ZM3.75 12h.007v.008H3.75V12Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm-.375 5.25h.007v.008H3.75v-.008Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z"
                    />
                  </svg>
                </ng-container>
              </span>
            </div>
          </div>
        </label>
      </div>
    </div>

    <div
      *ngIf="isListView"
      class="bg-white-color border-2 rounded-lg dark:bg-dark-2  dark:border-t-primary-color dark:border-t-4 border-t-4 border-t-primary-color"
    >
      <div class="max-w-full overflow-x-auto">
        <table class="w-full rounded-lg table-auto">
          <thead>
            <tr class="border-b-2 border-stroke dark:border-dark-3">
              <th class="min-w-[200px] py-5 pr-4 pl-9">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Patient Name
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Provider
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Ongoing Treatment
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Medical History
                </p>
              </th>
              <th class="min-w-[200px] py-5 px-4">
                <p
                  class="text-base text-center font-medium text-dark dark:text-white"
                >
                  Insurance Expiry date
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let item of filteredData
                  | paginate : { itemsPerPage: pageSize, currentPage: page };
                let i = index
              "
              class="border-b-2 border-stroke dark:border-dark-3"
            >
              <td class="py-6 pr-4 pl-9">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  {{ item?.personal_details.first_name }}
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  {{ item.insurance_details?.provider }}
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  <ng-container
                    *ngFor="
                      let ongoing_treatment_item of item.ongoing_treatment;
                      let last = last
                    "
                  >
                    {{ ongoing_treatment_item.treatment_name
                    }}<ng-container *ngIf="!last">, </ng-container>
                  </ng-container>
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  <ng-container
                    *ngFor="
                      let medical_history_item of item.medical_history;
                      let last = last
                    "
                  >
                    {{ medical_history_item.condition
                    }}<ng-container *ngIf="!last">, </ng-container>
                  </ng-container>
                </h5>
              </td>
              <td class="px-4 py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  {{ item?.insurance_details.expiry_date}}
                </h5>
              </td>
            </tr>
            <tr *ngIf="noRecordsFound">
              <td colspan="5" class="text-center py-6">
                <h5
                  class="text-base text-center font-medium text-body-color dark:text-dark-6"
                >
                  No records found
                </h5>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!isListView" class="bg-white-color rounded-lg dark:bg-dark-2">
      <div class="max-w-full overflow-x-auto">
        <!-- ====== Cards Section Start -->
        <section class="bg-white-color dark:bg-dark">
          <div class="container mx-auto">
            <div class="grid grid-cols-12 gap-4">
              <div
                *ngFor="
                  let item of filteredData
                    | paginate : { itemsPerPage: pageSize, currentPage: page };
                  let i = index
                "
                class="relative col-span-6 flex items-center w-full p-5 mb-10 bg-white-color border-2 border-gray-3 dark:bg-dark-2 dark:border-dark-3"
              >
                <span
                  class="bg-primary-color absolute -top-px -left-px h-[3px] w-[calc(100%+1.5px)]"
                ></span>
                <div class="w-full mr-4">
                  <h6
                    class="block mb-3 text-lg font-semibold text-primary-color"
                  >
                    {{ item?.personal_details.first_name }}
                    {{ item?.personal_details.last_name }}
                  </h6>
                  <span
                    class="block mb-3 text-sm font-semibold text-secondary-color"
                  >
                    Provider: {{ item.insurance_details?.provider }}
                  </span>
                  <h3>
                    <a
                      href="javascript:void(0)"
                      class="block mb-4 text-sm font-semibold text-dark hover:text-primary-color dark:text-white"
                    >
                      Ongoing Treatment:
                      <ng-container
                        *ngFor="
                          let ongoing_treatment_item of item.ongoing_treatment;
                          let last = last
                        "
                      >
                        {{ ongoing_treatment_item.treatment_name
                        }}<ng-container *ngIf="!last">, </ng-container>
                      </ng-container>
                    </a>
                  </h3>
                  <h3>
                    <a
                      href="javascript:void(0)"
                      class="block mb-4 text-sm font-semibold text-dark hover:text-primary-color dark:text-white"
                    >
                      Medical History:
                      <ng-container
                        *ngFor="
                          let medical_history_item of item.medical_history;
                          let last = last
                        "
                      >
                        {{ medical_history_item.condition
                        }}<ng-container *ngIf="!last">, </ng-container>
                      </ng-container>
                    </a>
                  </h3>
                  <p class="text-xs text-body-color dark:text-dark-6">
                    Insurance Expiry date:
                    {{ item?.insurance_details.expiry_date }}
                  </p>
                </div>
                <div class="mx-auto w-full max-w-[120px] sm:max-w-[140px]">
                  <div>
                    <div
                      class="h-[150px] hover:bg-primary-color hover:text-white-color border uppercase border-primary-color text-4xl w-[150px] text-primary-color bg-white-color dark:bg-dark-2 flex items-center justify-center bg-skin-secondary text-center rounded-full py-[10px]"
                    >
                      {{ item?.personal_details.first_name[0]
                      }}{{ item?.personal_details.last_name[0] }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ====== Cards Section End -->
      </div>
    </div>
  </div>
</section>
<!-- ====== Table Section End -->
